@model IEnumerable<Medico>

@{
    ViewData["Title"] = "Médicos";
}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administração
                </p>
                <ul class="menu-list">
                    <li><a asp-controller="Home" asp-action="Index">Totais</a></li>
                    <li><a asp-controller="Usuarios" asp-action="Index">Usuários</a></li>
                    <li><a asp-controller="Pacientes" asp-action="Index">Pacientes</a></li>
                    <li><a class="is-active" asp-controller="Medicos" asp-action="Index">Médicos</a></li>
                    <li><a asp-controller="Agendamentos" asp-action="Index">Agendamentos</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <h3 class="title">@ViewData["Title"]</h3>
            <a class="button is-info has-text-left" asp-action="Adicionar">Adicionar novo médico</a>
            <hr />
            <table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MedicoID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@item.MedicoID">Editar</a> |
                                <a asp-action="Remover" class="remover-medico" asp-route-id="@item.MedicoID">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>